[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = kirkstone
[submodule "meta-st-stm32mp"]
	path = meta-st-stm32mp
	url = https://github.com/STMicroelectronics/meta-st-stm32mp.git
	branch = kirkstone
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
	branch = kirkstone
[submodule "meta-st-openstlinux"]
	path = meta-st-openstlinux
	url = https://github.com/STMicroelectronics/meta-st-openstlinux.git
	branch = kirkstone
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = kirkstone
